In [2]:
import pandas as pd
from clean import clean

In [3]:
df = clean("./data/train.csv")

/home/neuralcrypto/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 497376 entries, 0 to 497375
Data columns (total 23 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Store                      497376 non-null  float64
 1   Sales                      497376 non-null  float64
 2   Customers                  497376 non-null  float64
 3   Open                       497376 non-null  int64
 4   Promo                      497376 non-null  float64
 5   SchoolHoliday              497376 non-null  float64
 6   year                       497376 non-null  int64
 7   month                      497376 non-null  int64
 8   week                       497376 non-null  int64
 9   day                        497376 non-null  int64
 10  day_week                   497376 non-null  int64
 11  month_start                497376 non-null  bool
 12  month_end                  497376 non-null  bool
 13  StateHoliday_new           497376 non-null  object
 14  StoreType                  497376 non-null  object
 15  Assortment                 497376 non-null  object
 16  CompetitionDistance        497376 non-null  float64
 17  CompetitionOpenSinceMonth  497376 non-null  float64
 18  CompetitionOpenSinceYear   497376 non-null  float64
 19  Promo2                     497376 non-null  int64
 20  Promo2SinceWeek            497376 non-null  float64
 21  Promo2SinceYear            497376 non-null  float64
 22  PromoInterval              497376 non-null  object
dtypes: bool(2), float64(10), int64(7), object(4)
memory usage: 84.4+ MB

In [5]:
df

,Store,Sales,Customers,Open,Promo,SchoolHoliday,year,month,week,day,...,StateHoliday_new,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,353.0,3139.0,820.0,1,0.0,1.0,2013,1,1,1,...,a,b,b,900.0,7.0,2009.0,1,14.0,2013.0,"Feb,May,Aug,Nov"
1,353.0,2686.0,835.0,1,0.0,1.0,2013,1,1,2,...,0,b,b,900.0,7.0,2009.0,1,14.0,2013.0,"Feb,May,Aug,Nov"
2,353.0,2628.0,815.0,1,0.0,1.0,2013,1,1,3,...,0,b,b,900.0,7.0,2009.0,1,14.0,2013.0,"Feb,May,Aug,Nov"
3,353.0,2677.0,856.0,1,0.0,1.0,2013,1,1,4,...,0,b,b,900.0,7.0,2009.0,1,14.0,2013.0,"Feb,May,Aug,Nov"
4,353.0,2224.0,719.0,1,0.0,0.0,2013,1,1,5,...,0,b,b,900.0,7.0,2009.0,1,14.0,2013.0,"Feb,May,Aug,Nov"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497371,1081.0,4974.0,836.0,1,0.0,0.0,2014,7,30,27,...,0,b,a,400.0,3.0,2006.0,0,0.0,0.0,None
497372,1081.0,7900.0,1123.0,1,1.0,1.0,2014,7,31,28,...,0,b,a,400.0,3.0,2006.0,0,0.0,0.0,None
497373,1081.0,7563.0,1198.0,1,1.0,1.0,2014,7,31,29,...,0,b,a,400.0,3.0,2006.0,0,0.0,0.0,None
497374,1081.0,6514.0,1021.0,1,1.0,1.0,2014,7,31,30,...,0,b,a,400.0,3.0,2006.0,0,0.0,0.0,None
497375,1081.0,6895.0,1045.0,1,1.0,1.0,2014,7,31,31,...,0,b,a,400.0,3.0,2006.0,0,0.0,0.0,None

### Setting up categorical features

In [6]:
cat_feats = ['StateHoliday_new', 'StoreType', 'Assortment', 'PromoInterval']

In [7]:
df_final = pd.get_dummies(df, columns = cat_feats, drop_first=True)

In [8]:
df_final

,Store,Sales,Customers,Open,Promo,SchoolHoliday,year,month,week,day,...,StateHoliday_new_b,StateHoliday_new_c,StoreType_b,StoreType_c,StoreType_d,Assortment_b,Assortment_c,"PromoInterval_Jan,Apr,Jul,Oct","PromoInterval_Mar,Jun,Sept,Dec",PromoInterval_None
0,353.0,3139.0,820.0,1,0.0,1.0,2013,1,1,1,...,0,0,1,0,0,1,0,0,0,0
1,353.0,2686.0,835.0,1,0.0,1.0,2013,1,1,2,...,0,0,1,0,0,1,0,0,0,0
2,353.0,2628.0,815.0,1,0.0,1.0,2013,1,1,3,...,0,0,1,0,0,1,0,0,0,0
3,353.0,2677.0,856.0,1,0.0,1.0,2013,1,1,4,...,0,0,1,0,0,1,0,0,0,0
4,353.0,2224.0,719.0,1,0.0,0.0,2013,1,1,5,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497371,1081.0,4974.0,836.0,1,0.0,0.0,2014,7,30,27,...,0,0,1,0,0,0,0,0,0,1
497372,1081.0,7900.0,1123.0,1,1.0,1.0,2014,7,31,28,...,0,0,1,0,0,0,0,0,0,1
497373,1081.0,7563.0,1198.0,1,1.0,1.0,2014,7,31,29,...,0,0,1,0,0,0,0,0,0,1
497374,1081.0,6514.0,1021.0,1,1.0,1.0,2014,7,31,30,...,0,0,1,0,0,0,0,0,0,1
497375,1081.0,6895.0,1045.0,1,1.0,1.0,2014,7,31,31,...,0,0,1,0,0,0,0,0,0,1

### Train Test Split

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X = df_final.drop('Sales',axis=1)
y = df_final['Sales']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [11]:
X_train

,Store,Customers,Open,Promo,SchoolHoliday,year,month,week,day,day_week,...,StateHoliday_new_b,StateHoliday_new_c,StoreType_b,StoreType_c,StoreType_d,Assortment_b,Assortment_c,"PromoInterval_Jan,Apr,Jul,Oct","PromoInterval_Mar,Jun,Sept,Dec",PromoInterval_None
262506,946.0,475.0,1,0.0,0.0,2013,8,34,20,1,...,0,0,0,0,0,0,0,1,0,0
359699,653.0,471.0,1,0.0,0.0,2014,3,13,24,0,...,0,0,0,0,1,0,1,0,0,0
14045,350.0,557.0,1,1.0,0.0,2013,5,20,14,1,...,0,0,0,0,1,0,0,1,0,0
304200,1065.0,297.0,1,0.0,0.0,2013,7,28,13,5,...,0,0,0,0,0,0,0,0,1,0
220513,145.0,1283.0,1,1.0,0.0,2014,5,19,9,4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136767,84.0,1349.0,1,1.0,0.0,2014,5,19,8,3,...,0,0,0,0,0,0,1,0,0,1
204614,248.0,995.0,1,0.0,0.0,2014,6,26,28,5,...,0,0,0,0,0,0,1,1,0,0
476497,441.0,716.0,1,1.0,0.0,2013,5,22,27,0,...,0,0,0,0,1,0,0,0,0,1
214539,162.0,532.0,1,1.0,0.0,2013,6,23,4,1,...,0,0,0,0,1,0,1,1,0,0
176991,43.0,731.0,1,1.0,0.0,2013,4,15,11,3,...,0,0,0,0,1,0,0,1,0,0

In [12]:
from sklearn.tree import DecisionTreeClassifier

In [13]:
dtree = DecisionTreeClassifier()

#### Unable to fit this model

In [14]:
# dtree.fit(X_train,y_train)

From Notebook 7 of Aurelie

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

log_clf = LogisticRegression(solver="lbfgs", random_state=42)
rnd_clf = RandomForestClassifier(n_estimators=100, random_state=42)
svm_clf = SVC(gamma="scale", random_state=42)

voting_clf = VotingClassifier(
    estimators=[('lr', log_clf), ('rf', rnd_clf), ('svc', svm_clf)],
    voting='hard')

In [1]:
# rnd_clf.fit(X_train, y_train)

Check this article to see if I can train the random forests in the GPU

https://medium.com/rapids-ai/accelerating-random-forests-up-to-45x-using-cuml-dfb782a31bea

In [4]:

from cuml.dask.ensemble import RandomForestClassifier as cuRF_mg
# cuml Random Forest params
cu_rf_params = {
    'n_estimators': 25,
    'max_depth': 13,
    'n_bins': 15,
    'n_streams': 8
}

# Start by setting up the CUDA cluster on the local host 
cluster = LocalCUDACluster(threads_per_worker=1, n_workers=n_workers)
c = Client(cluster)
workers = c.has_what().keys()

# Shard the data across all workers
X_train_df, y_train_df = dask_utils.persist_across_workers(c,[X_train_df,y_train_df],workers=workers)

# Build and train the model
cu_rf_mg = cuRFC_mg(**cu_rf_params)
cu_rf_mg.fit(X_train_df, y_train_df)

# Check the accuracy on a test set
cu_rf_mg_predict = cu_rf_mg.predict(X_test)
acc_score = accuracy_score(cu_rf_mg_predict, y_test, normalize=True)
c.close()
cluster.close()

ModuleNotFoundError: No module named 'cuml'

### Predictions and Evaluation of Decision Tree

In [ ]:
predictions = dtree.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix

In [ ]:
print(classification_report(y_test,predictions))